body {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }

  @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}


html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes slideGradient {
    0% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#slideshow {
    position: relative;
    width: 100%;
   /* height: 1000px; */
    height: 100vh; /* Full viewport height */
    background: linear-gradient(45deg, #632ca6, #ff0078, #14d071, #632ca6, #ff0078, #14d071);
    background-size: 300% 300%;
   /* background-size: cover; /* Ensure background covers the entire element */ 
    animation: slideGradient 30s linear infinite;
}


#slideshowImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center 30%;
    opacity: 0;
    position: relative;
}

@keyframes kenBurnsEffect {
    0% {
        transform: scale(1.5);
        opacity: 0;
        background-position: center;
    }
    10% {
        opacity: 1;
    }
    90% {
        transform: scale(1.2);
        opacity: 1;
        background-position: center;
    }
    100% {
        transform: scale(1);
        opacity: 0;
        background-position: center;
    }
}

.ken-burns-effect {
    animation: kenBurnsEffect 10s ease-in-out forwards;
}

#startButton {
    position: relative;
    background: linear-gradient(to right, #ffaa00, #ffdb7d);
    border-radius: 20px;
    border: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    padding: 15px 30px;
    font-size: 2em;
    transition: background-color 0.3s ease;
    z-index: 2;
}

#startButton:hover {
    background: linear-gradient(to right, #e69500, #ffc94d);
}

#logoContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns children (logo and text) to the right */
  }
  
  #logo {
    width: 100px; /* Adjust as needed */
    height: auto;
    opacity: 0.9;
    margin-right: 30px;
  }
  
  #logoText {
    /* Styles for your text */
    color: white;
    text-align: right; /* Aligns text to the right */
    font-size: 2em;
  }
  

.image-overlay {
    color: #fff;
    font-size: 2em;
    text-align: center;
}

#imageCountDropdown {
    background: linear-gradient(to right, #ffaa00, #ffdb7d);
    border-radius: 20px;
    border: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    padding: 15px 30px;
    font-size: 2em;
    transition: background-color 0.3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 20px;
    width: auto;
    display: block;
}

#imageCountDropdown:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 165, 0, 0.5);
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

@media (max-width: 768px) {
    #slideshow {
        height: 600px;
    }

    #slideshowImage {
        height: 600px;
    }

    #logoContainer {
        right: 10px;
        bottom: 10px;
    }

    #logo {
        width: 50px;
    }

    #startButton, #imageCountDropdown {
        padding: 10px 20px;
        font-size: 1.5em;
    }

    .image-overlay {
        font-size: 1.5em;
    }

    #inputs {
        margin: 20px;
    }
}

/* @media */

#imageSourceDropdown {
    /* Similar styles as your #imageCountDropdown */
    background: linear-gradient(to right, #ffaa00, #ffdb7d);
    border-radius: 20px;
    border: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    padding: 15px 30px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 20px; /* Space below the other dropdown/button */
    width: auto;
    display: block;
  }

  #imageUrlsList {
    color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: left; /* Left align can be easier to read for lists */
    font-size: 1em; /* Adjust font size for readability */
    line-height: 1.5; /* Increase line height for better spacing */
    max-height: 300px; /* Set a max height */
    overflow-y: auto; /* Add a scrollbar if the content is too long */
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    border-radius: 10px; /* Optional: rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional: add a subtle shadow for depth */
    list-style-type: none; /* Remove default list styling */
    padding-left: 0; /* Adjust padding as necessary */
  }
  
  #imageUrlsList div {
    margin-bottom: 10px; /* Space out each URL */
    padding: 5px; /* Padding for each URL */
    border-bottom: 1px solid rgba(255,255,255,0.3); /* Optional: add a divider between URLs */
  }
  
  #imageUrlsList .url-item {
    display: flex;
    align-items: center; /* Align thumbnail and text vertically */
    margin-bottom: 10px; /* Space out each URL */
  }
  
  #imageUrlsList .thumbnail {
    width: 50px; /* Thumbnail size */
    height: 50px; /* Thumbnail size */
    object-fit: cover; /* Ensure the image covers the area */
    margin-right: 10px; /* Space between thumbnail and text */
    border-radius: 5px; /* Optional: rounded corners for thumbnails */
  }
  
  #imageUrlsList span {
    /* Additional styling for the URL text if needed */
    word-break: break-all; /* To prevent overflow */
  }
  
  
  