body {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }

  @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}


html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes slideGradient {
    0% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#slideshow {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    background: linear-gradient(145deg, #632ca6, #ff0078, #14d071, #632ca6, #ff0078, #14d071);
    background-size: 300% 300%;
   /* background-size: cover; /* Ensure background covers the entire element */ 
    animation: slideGradient 30s linear infinite;
}


#slideshowImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center 30%;
    opacity: 0;
    position: relative;
}

@keyframes kenBurnsEffect {
    0% {
        transform: scale(1.5);
        opacity: 0;
        background-position: center;
    }
    10% {
        opacity: 1;
    }
    90% {
        transform: scale(1.2);
        opacity: 1;
        background-position: center;
    }
    100% {
        transform: scale(1);
        opacity: 0;
        background-position: center;
    }
}

.ken-burns-effect {
    animation: kenBurnsEffect 10s ease-in-out forwards;
}

#startButton {
    position: relative;
    background: linear-gradient(to right, #ffaa00, #ffdb7d);
    border-radius: 20px;
    border: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    padding: 15px 30px;
    font-size: 2em;
    transition: background-color 0.3s ease;
    z-index: 2;
}

#startButton:hover {
    background: linear-gradient(to right, #e69500, #ffc94d);
}

#logoContainer {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns children (logo and text) to the right */
    /* margin-bottom: 50px; */
  }
  
  #logo {
    width: 100px; /* Adjust as needed */
    height: auto;
    opacity: 0.9;
    margin-right: 30px;
  }
  
  #logoText {
    /* Styles for your text */
    color: white;
    text-align: right; /* Aligns text to the right */
    font-size: 2em;
    margin: 5px;
  }
  

.image-overlay {
    color: #fff;
    font-size: 2em;
    text-align: center;
}

#imageCountDropdown {
    background: linear-gradient(to right, #ffaa00, #ffdb7d);
    border-radius: 20px;
    border: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    padding: 15px 30px;
    font-size: 2em;
    transition: background-color 0.3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 20px;
    width: auto;
    display: block;
}

#imageCountDropdown:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 165, 0, 0.5);
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

@media (max-width: 768px) {
    #slideshow {
        height: 600px;
    }

    #slideshowImage {
        height: 600px;
    }

    #logoContainer {
        right: 10px;
        bottom: 10px;
    }

    #logo {
        width: 50px;
    }

    #startButton, #imageCountDropdown {
        padding: 10px 20px;
        font-size: 1.5em;
    }

    .image-overlay {
        font-size: 1.5em;
    }

    #inputs {
        margin: 20px;
    }
}

/* @media */

#imageSourceDropdown {
    /* Similar styles as your #imageCountDropdown */
    background: linear-gradient(to right, #ffaa00, #ffdb7d);
    border-radius: 20px;
    border: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    padding: 15px 30px;
    font-size: 2em;
    transition: background-color 0.3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 20px; /* Space below the other dropdown/button */
    width: auto;
    display: block;
  }

  #imageUrlsList {
    color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 40px; /* Left margin */
    margin-right: 40px; /* Right margin */
    text-align: left; /* Left align for better readability in lists */
    font-size: 1em; /* Larger font size for visibility */
    line-height: 1.5; /* Increased line height for spacing between lines */
    max-height: 300px; /* Limit height to prevent excessive length */
    overflow-y: auto; /* Enable scrollbar if content overflows */
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    list-style-type: none; /* No bullet points for list items */
  }
  
  #imageUrlsList div {
    margin-bottom: 10px; /* Space between URL entries */
    padding: 5px; /* Padding around each URL */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Divider line between URLs */
  }
  
  #imageUrlsList .url-item {
    display: flex;
    align-items: center; /* Vertically center items within the flex container */
    margin-bottom: 10px; /* Space between items */
  }
  
  #imageUrlsList .thumbnail {
    width: 100px; /* Fixed width for thumbnails */
    height: 100px; /* Fixed height for thumbnails */
    object-fit: cover; /* Cover the thumbnail area with the image */
    margin-right: 10px; /* Space between thumbnail and URL text */
    border-radius: 5px; /* Rounded corners for thumbnails */
  }
  
  #imageUrlsList span {
    word-break: break-all; /* Break words to prevent horizontal overflow */
  }
  
  
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(244, 237, 237, 0.65); /* Adjust the alpha value (0.7) for transparency */
    /*color: white;*/
    text-align: center;
    padding: 10px 0;
    color: white;
    transition: color 0.3s ease; /* Smooth transition for color change */
    opacity: 10%;
  }
  
  .footer-link {
    margin: 0 15px;
    text-decoration: none; /* Removes underline */
    font-size: 2em;
   /* transition: color 0.2s ease; /* Smooth transition for color change */
  }
  
  .footer-link:hover {
    color: white;
  }

  footer:hover {
    color: rgb(252, 252, 252); /* More visible text color on hover */
  }
  

  @keyframes movingFire {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .fire-effect {
    width: 200%;
    height: 25px; /* Adjust height as needed */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999; /* Ensure it's above other elements */
  
    background: 
      linear-gradient(
        to bottom,
        rgba(247, 245, 245, 0.1), 
        rgba(239, 5, 122, 0.536)
      ),
      linear-gradient(
        90deg, 
        rgb(252, 251, 252) 0%, 
        rgb(255, 128, 0) 20%, 
        rgba(255, 255, 0, 1) 30%, 
        rgba(255, 154, 0, 1) 40%, 
        rgba(255, 0, 0, 1) 50%
      );
  
    background-size: 200% 100%;
    animation: movingFire 5s linear infinite;
  }